auto-save-list
byte-cache
session*
.AppleDouble
#*#
*#*
*.elc
*~
*.tar.gz
*.dat
.smex-items
tramp
srecode*
semanticdb
eshell
elpa
el-get
url
ede-projects.el
cedet
*~
\#*
recentf
savehist
saveplace
url
.org-id-locations
bookmarks
eshell