auto-save-list
byte-cache
session*
.AppleDouble
#*#
*#*
*.elc
*~
*.tar.gz
*.dat
tramp
srecode*
semanticdb
eshell
elpa
url
ede-projects.el
cedet
*~
\#*
recentf
savehist
saveplace
url
.org-id-locations
bookmarks
eshell